<% include head.ejs %>

<h1>Photos</h1>

<% for(var i = 0; i < data.photos.length; i++) {%>

<section>

	<a href="<%= data.photos[i].id%>">
	    <header>
			<h1><b>ID</b> <%= data.photos[i].id %></h1>
			<p><b>CAM</b> <%= data.photos[i].camera.full_name %></p>
			<p><b>SOL</b> <%= data.photos[i].sol %></p>
	    </header>
    	<img src="<%= data.photos[i].img_src %>" />	
	</a>

</section>

<% } %>

<script src="js/client.js"></script>
